page-pokemon {

}

.texto {
	font-family: 'Open Sans Condensed', sans-serif;
}

.fundo {
	background-image: url('../../assets/imgs/bg1.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.item-md ion-avatar ion-img, .item-md ion-avatar img {
	width: 100px;
	height: 100px;
}

.col {
	text-align: center;
	margin: auto;
}

.list-md[inset] {
	margin-left: 0;
	margin-right: 0;
	opacity: 0.93;
}
